<div class="container">
  <div class="d-flex flex-column w-100">
    <div class="w-100 font-roboto-condensed font-weight-bold textBlack text-center mt-4">
      This is your Wagerr.com Account SEED.<br>
      Do not share this with anyone. Store in a secure location.
      <br>
      <br>
      <br>
    </div>
    <div class="w-100 font-roboto-condensed font-weight-bold textBlack text-center mt-4">
      {{seed.word1}} {{seed.word2}} {{seed.word3}} {{seed.word4}} {{seed.word5}} {{seed.word6}} {{seed.word7}} {{seed.word8}} {{seed.word9}} {{seed.word10}} {{seed.word11}} {{seed.word12}}
    </div>

    <div class="w-100 d-flex flex-row mb-1 justify-content-center align-content-center">
      <div class="w-85 d-flex flex-row justify-content-center align-content-center">
        <div
          class="w-100 wordItem d-flex m-1 text-black border borderRounded p-2 font16px justify-content-center align-content-center">{{seed.word1}}</div>
        <div
          class="w-100 wordItem d-flex m-1 text-black border borderRounded p-2 font16px justify-content-center align-content-center">{{seed.word2}}</div>
        <div
          class="w-100 wordItem d-flex m-1 text-black border borderRounded p-2 font16px justify-content-center align-content-center">{{seed.word3}}</div>
        <div
          class="w-100 wordItem d-flex m-1 text-black border borderRounded p-2 font16px justify-content-center align-content-center">{{seed.word4}}</div>
      </div>
    </div>
    <div class="w-100 d-flex flex-row mb-1 justify-content-center align-content-center">
      <div class="w-85 d-flex flex-row justify-content-center align-content-center">
        <div
          class="w-100 wordItem d-flex m-1 text-black border borderRounded p-2 font16px justify-content-center align-content-center">{{seed.word5}}</div>
        <div
          class="w-100 wordItem d-flex m-1 text-black border borderRounded p-2 font16px justify-content-center align-content-center">{{seed.word6}}</div>
        <div
          class="w-100 wordItem d-flex m-1 text-black border borderRounded p-2 font16px justify-content-center align-content-center">{{seed.word7}}</div>
        <div
          class="w-100 wordItem d-flex m-1 text-black border borderRounded p-2 font16px justify-content-center align-content-center">{{seed.word8}}</div>
      </div>
    </div>
    <div class="w-100 d-flex flex-row mb-1 justify-content-center align-content-center">
      <div class="w-85 d-flex flex-row justify-content-center align-content-center">
        <div
          class="w-100 wordItem d-flex m-1 text-black border borderRounded p-2 font16px justify-content-center align-content-center">{{seed.word9}}</div>
        <div
          class="w-100 wordItem d-flex m-1 text-black border borderRounded p-2 font16px justify-content-center align-content-center">{{seed.word10}}</div>
        <div
          class="w-100 wordItem d-flex m-1 text-black border borderRounded p-2 font16px justify-content-center align-content-center">{{seed.word11}}</div>
        <div
          class="w-100 wordItem d-flex m-1 text-black border borderRounded p-2 font16px justify-content-center align-content-center">{{seed.word12}}</div>
      </div>
    </div>
  </div>
</div>
