@media (min-width: 576px) {
  .round32pt {
    padding-top: 50px;
  }

  .round32mm {
    margin-top: 100px;
  }

  .round16pt {
    padding-top: 135px;
  }

  .round16mm {
    margin-top: 265px;
  }

  .round8pt {
    padding-top: 300px;
  }

  .round4mm {
    margin-top: 120px;
  }

  .round2pt {
    padding-top: 50px;
  }
}
@media (max-width: 576px) {
  .round32mm {
    margin-top: 6%;
  }

  .round16mm {
    margin-top: 6%;
  }

  .round4mm {
    margin-top: 6%;
  }
}
.mmSelected {
  color: #ff0000;
}

.score {
  margin-top: 2px;
  width: 50px;
}
