<div class="d-flex flex-column flex-sm-row pt-2">
  <div class="w-100"></div>
  <div class="w-100 text-center pt-4">
    <button class="btn round-btn btn-sportsbook3 w-50 text-uppercase font-arboria-bold py-2" (click)="openModalAccount()"
            *ngIf="!isLoggedIn()">Sign Up
    </button>
    <ng-container *ngIf="!eventStarted()">
      <button class="btn round-btn btn-sportsbook3 w-50 text-uppercase font-arboria-bold py-2" *ngIf="isLoggedIn()"
              [ngClass]="this.createBracket ? 'active' : ''" (click)="toggleCreateBracket()">Create Bracket
      </button>
    </ng-container>
    <ng-container *ngIf="eventStarted()">
      <button class="btn round-btn btn-sportsbook3 w-50 text-uppercase font-arboria-bold py-2" *ngIf="isLoggedIn()"
              [ngClass]="this.viewBracket ? 'active' : ''" (click)="showVerifyBracket()">Verify Bracket
      </button>
    </ng-container>
  </div>
  <div class="w-100 d-flex flex-column py-2 px-3" *ngIf="isLoggedIn()">
    <div class="w-100 font-arboria-bold text-black text-uppercase text-center">your leaderboard username</div>
    <div class="w-100 font-arboria-bold text-black text-center border border-dark mt-1 d-flex">
      <input class="border-0 text-center w-100 font-arboria-bold text-black" type="text" [(ngModel)]="username"
             (keyup)="filterName()" placeholder="Enter Custom Username" [disabled]="!editUserName">
      <div class="pull-right border-left border-dark px-2" [ngClass]="(editUserName) ? 'fontColorE6' : ''"
           tooltip="edit/save username" (click)="editUsername()"><i class="fas fa-edit"></i></div>
    </div>
  </div>
  <div class="w-100 text-center pt-4 py-2">
    <button class="btn round-btn btn-sportsbook3 w-50 text-uppercase font-arboria-bold"
            [ngClass]="this.leaderboard ? 'active' : ''" (click)="toggleLeaderBoard()">
      Leaderboard
    </button>
  </div>
  <div class="w-100"></div>
</div>
<ng-container *ngIf="leaderboard">
  <div class="d-flex flex-column flex-sm-row pt-2">
    <div class="w-100"></div>
    <div class="w-100 pt-3">
      <app-mmleaderboard></app-mmleaderboard>
    </div>
    <div class="w-100"></div>
  </div>
</ng-container>
<ng-container *ngIf="!leaderboard">
  <ng-container *ngIf="createBracket">
    <app-mmnewviewbracket [new]="true"></app-mmnewviewbracket>
  </ng-container>
  <ng-container *ngIf="viewBracket">
    <app-mmnewviewbracket [new]="false" [hash]="bracketHash"></app-mmnewviewbracket>
  </ng-container>
  <ng-container *ngIf="!createBracket && !viewBracket">
    <div class="d-flex flex-column flex-sm-row pt-3">
      <div class="w-100"></div>
      <div class="w-100 text-center"><img src="assets/images/MMfirst.svg" class="img-fluid widthSize300px"></div>
      <div class="w-100 text-center"><img src="assets/images/MMsecond.svg" class="img-fluid widthSize300px"></div>
      <div class="w-100 text-center"><img src="assets/images/MMthird.svg" class="img-fluid widthSize300px"></div>
      <div class="w-100"></div>
    </div>
    <div class="d-flex flex-column pt-5">
      <div class="w-100 text-center font-arboria-bolder text-black font33px fontsm48px pb-0 mb-0 lineheight1">PERFECT BRACKET
        WINS
      </div>
      <div class="w-100 text-center font-arboria-bolder text-black font33px fontsm48px pt-0 mt-0 lineheight1">1 MILLION WAGERR & 1
        BITCOIN
      </div>
      <div class="w-100 d-flex flex-row pt-5">
        <div class="w-25"></div>
        <div class="w-100 text-center font-arboria-book text-black">The grand prize is awarded for a perfect bracket
          submission. A perfect bracket is defined as an accurate prediction of the complete sequence of winners and
          losers from the “Round of 64” to the official winner of the National Championship. All entrants also compete
          for rewards based on the number of points for each successful prediction. The leaderboard shows point
          progression of top competitors. Brackets must be submitted via wagerr.com sportsbook account. There is no
          charge to make a wagerr.com sportsbook account.
        </div>
        <div class="w-25"></div>
      </div>
      <div class="w-100 d-flex flex-row pt-5">
        <div class="w-50"></div>
        <div class="w-100 text-center font-arboria-book text-underline text-black">
          <a href="/assets/March_Madness_Rules_2021.pdf" target="_blank">Wagerr.com March Madness 2021 Rules</a>
        </div>
        <div class="w-50"></div>
      </div>
    </div>
  </ng-container>
</ng-container>
<div class="mt-5 pt-3"></div>
