.teamLogo {
  height: 300px !important;
  width: 300px !important;
  filter: invert(0%) !important;
}

.teamLogomobile {
  width: 75% !important;
}


.dgen {
  width: 200px;
}

@media only screen  and (max-width: 767px) {
  .font42px {
    font-size: 21px !important;
  }
}
