<div class="d-flex flex-column flex-sm-row pt-2">
  <div class="w-100"></div>
  <div class="w-100 text-center pt-4">
    <ng-container *ngIf="!eventStarted()">
      <button class="btn round-btn btn-sportsbook3 w-50 text-uppercase font-arboria-bold py-2" *ngIf="isLoggedIn()"
              [ngClass]="this.createBracket ? 'active' : ''" (click)="toggleCreateBracket()">Create Bracket
      </button>
    </ng-container>
    <ng-container *ngIf="eventStarted()">
      <button class="btn round-btn btn-sportsbook3 w-50 text-uppercase font-arboria-bold py-2" *ngIf="isLoggedIn()"
              [ngClass]="this.viewBracket ? 'active' : ''" (click)="showVerifyBracket()">Verify Bracket
      </button>
    </ng-container>
  </div>
  <div class="w-100 d-flex flex-column py-2 px-3" *ngIf="isLoggedIn()">
    <div class="w-100 font-arboria-bold text-black text-uppercase text-center">your leaderboard username</div>
    <div class="w-100 font-arboria-bold text-black text-center border border-dark mt-1 d-flex">
      <input class="border-0 text-center w-100 font-arboria-bold text-black" type="text" [(ngModel)]="username"
             (keyup)="filterName()" placeholder="Enter Custom Username" [disabled]="!editUserName">
<!--      <div class="pull-right border-left border-dark px-2" [ngClass]="(editUserName) ? 'fontColorE6' : ''"-->
<!--           tooltip="edit/save username" (click)="editUsername()"><i class="fas fa-edit"></i></div>-->
    </div>
  </div>
  <div class="w-100 text-center pt-4 py-2">
  </div>
  <div class="w-100"></div>
</div>
<ng-container *ngIf="createBracket">
  <app-mmnewviewbracket [new]="true"></app-mmnewviewbracket>
</ng-container>
<ng-container *ngIf="viewBracket">
  <app-mmnewviewbracket [new]="false" [hash]="bracketHash"></app-mmnewviewbracket>
</ng-container>
<ng-container *ngIf="!createBracket && !viewBracket">
  <div class="d-flex flex-column flex-sm-row">
    <div class="w-100"></div>
    <div class="w-100 font-arboria-bold text-black d-flex flex-column pt-3">
      <div class="w-100 font20px text-center">Your Brackets</div>
      <ng-container *ngFor="let bracket of brackets; let i = index">
        <div class="w-100 d-flex flex-row">
          <div class="w-100 pl-2">{{(i + 1)}}. {{getBracketChamp(bracket.bracketString)}}</div>
          <div class="w-25">{{bracket.points}} pts</div>
          <div class="w-50 pr-2">
            <button class="btn round-btn btn-sportsbook m-0 p-0" (click)="toggleViewBracket(bracket.bracketHash)">View
              Bracket
            </button>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="w-100 font-arboria-bold text-black d-flex flex-column border-left pl-2 pt-3">
      <div class="w-100 font20px text-center">Leaderboard</div>
      <div class="w-100">
        <app-mmleaderboard></app-mmleaderboard>
      </div>
    </div>
    <div class="w-100"></div>
  </div>
</ng-container>
