.border-right-gray {
  border-right: 1px solid #707070;
}
.bettype {
  color: #ffffff94;
}
.bettype:hover {
  color: #ffffff !important;
  background-color: #ffffff1a;
}
.bt-active {
  color: #ffffff !important;
  background-color: #ffffff1a;
}

.text-title-gray {
  color: #707070;
}

.fontP7em {
  font-size: .7em;
}
.shareButton {
  padding-top: .9px !important;
}
