<footer class="footerbg">
  <div class="container-fluid footerHat" *ngIf="!nohat"></div>
  <div class="desktop-footer container d-none d-sm-block">
    <div class="row text-nowrap">
      <div class="col">
        <div class="mt-5 pt-3 font-arboria-book"><a href="/assets/wagerr_whitepaper_v1.pdf" target="_blank">Whitepaper</a></div>
        <div class="font-arboria-book"><a href="https://faq.wagerr.com/" target="_blank">FAQ</a></div>
      </div>
      <div class="col text-center">
        <img src="/assets/images/wgrmoderniconwhite-01.svg" class="logo" alt="">
        <div class="social mb-2 mt-2 pt-1">
          <a class="mr-2 steem-keychain-checked" href="https://twitter.com/wagerrx" target="_blank"><img
            src="/assets/images/twitter.svg" alt=""></a>
          <a class="mr-2 steem-keychain-checked" href="https://www.facebook.com/wagerr" target="_blank"><img
            src="/assets/images/facebook.svg" alt=""></a>
          <a class="mr-2 steem-keychain-checked" href="https://t.me/wagerrcoin" target="_blank"><img
            src="/assets/images/telegram.svg" alt=""></a>
          <a class="mr-2 steem-keychain-checked" href="https://www.reddit.com/r/Wagerr/" target="_blank"><img
            src="/assets/images/reddit.svg" alt=""></a>
          <a class="mr-2 steem-keychain-checked" href="https://github.com/wagerr" target="_blank"><img
            src="/assets/images/github.svg" alt=""></a>
          <a href="https://discord.gg/vecf8Ca" target="_blank" class="steem-keychain-checked"><img
            src="/assets/images/discord.svg" alt=""></a>
        </div>
      </div>
      <div class="col text-center">
      </div>
    </div>
    <div class="text-center font-arboria-book copyright">Wagerr.com {{getYear()}}</div>
  </div>
  <div class="mobile-footer p-4 d-block d-sm-none">
    <div class="row">
      <div class="col-auto mx-auto text-center pb-3">
        <img src="/assets/images/wgrmoderniconwhite-01.svg" class="logo" alt="">
        <div class="text-center social d-flex justify-content-between mx-auto align-items-center">
          <a class="mr-2 steem-keychain-checked" href="https://twitter.com/wagerrx" target="_blank"><img
            src="/assets/images/twitter.svg" alt=""></a>
          <a class="mr-2 steem-keychain-checked" href="https://www.facebook.com/wagerr" target="_blank"><img
            src="/assets/images/facebook.svg" alt=""></a>
          <a class="mr-2 steem-keychain-checked" href="https://t.me/wagerrcoin" target="_blank"><img
            src="/assets/images/telegram.svg" alt=""></a>
          <a class="mr-2 steem-keychain-checked" href="https://www.reddit.com/r/Wagerr/" target="_blank"><img
            src="/assets/images/reddit.svg" alt=""></a>
          <a class="mr-2 steem-keychain-checked" href="https://github.com/wagerr" target="_blank"><img
            src="/assets/images/github.svg" alt=""></a>
          <a href="https://discord.gg/vecf8Ca" target="_blank" class="steem-keychain-checked"><img
            src="/assets/images/discord.svg" alt=""></a>
        </div>
      </div>
    </div>
    <div class="text-center copyright">Wagerr.com {{getYear()}}</div>
  </div>
</footer>
