<section class="about-panel-1">
  <div class="container">
    <div class="d-sm-flex flex-sm-row d-flex flex-column">
      <div class="w-100 pl-5 pl-sm-0">
        <h1 class="lefttext m-0 p-0 text-uppercase font-arboria-bold font48px">BLOCKCHAIN</h1>
        <h1 class="lefttext m-0 p-0 text-uppercase font-arboria-bold font48px">secured</h1>
        <h1 class="lefttext m-0 p-0 text-uppercase font-arboria-bolder font48px">
          <span class="text-highlight">sportsbook</span></h1>
      </div>
      <div class="w-100 pl-4 p-sm-0 pr-4">
        <p class="font20px font-arboria-book lineheight1-2">Wagerr is a permissionless blockchain-based sportsbook
          secured by a global decentralized network. Bet anywhere. Best odds. Privacy-focused.</p>
      </div>
    </div>
  </div>
  <div class="bottomsvg">
    <img src="assets/images/bottomaboutjag-01.svg" class="img-fluid">
  </div>
</section>
<section class="about-panel-2">
  <div class="container pt-5">
    <div class="d-sm-flex flex-sm-row d-flex flex-column">
      <div class="w-100">
        <img src="assets/images/chainwrite-01.svg" class="img-fluid">
      </div>
      <div class="w-100 d-flex flex-column  pl-5 pl-sm-0">
        <div class="w-100 text-black ">
          <h1 class="lefttext m-0 p-0 text-uppercase font-arboria-bolder font33px">
            HOW<span class="text-highlight"> ORACLES</span> WORK</h1>
        </div>
        <div class="w-100 pt-2 pr-5">
          <p class="font-arboria-book font16px text-black">Oracles retrieve real world sporting event data and post
            event outcomes to the blockchain. The Wagerr network uses this data to trigger payouts for winning bet
            contracts.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about-panel-3 bg-red-triangle">
  <div class="container pt-5">
    <div class="d-flex flex-column pt-5 pt-sm-4 pb-4">
      <div class="w-100 justify-content-center align-content-center">
        <h1 class="text-center m-0 p-0 text-uppercase font-arboria-bolder font33px">LIVE ORACLE STATS</h1>
      </div>
    </div>
    <div class="d-sm-flex flex-sm-row d-flex flex-column pb-4">
      <div class="w-100">
        <div class="w-100 text-center font-arboria-book font-bolder font48px">{{getMasterNodeCount()}}</div>
        <div class="w-100 text-center font-arboria-bold font30px">Oracle Masternodes</div>
        <div class="w-100 text-center font-arboria-bold font16px">Current Online</div>
      </div>
      <div class="w-100">
        <div
          class="w-100 text-center font-arboria-book font-bolder font48px">{{getOracleUpdates('a')}}{{getOracleUpdates('v')}}
          <span
            class="font-arboria-book font-weight-normal">+</span></div>
        <div class="w-100 text-center font-arboria-bold font30px">Live Oracle Updates</div>
        <div class="w-100 text-center font-arboria-bold font16px">Real world data stamped on chain</div>
      </div>
      <div class="w-100">
        <div class="w-100 text-center font-arboria-book font-bolder font48px">{{getMasterNodeWeekly()}}</div>
        <div class="w-100 text-center font-arboria-bold font30px">WGR Payment</div>
        <div class="w-100 text-center font-arboria-bold font16px">Weekly Estimate</div>
      </div>
    </div>
  </div>
</section>
<section class="about-panel-4">
  <div class="container">
    <div class="d-sm-flex flex-sm-row d-flex flex-column flex-column-reverse">
      <div class="w-100 d-flex flex-column pl-3 pl-sm-0">
        <div class="w-100 text-black pt-sm-5 mt-sm-5">
          <h1 class="lefttext m-0 p-0 text-uppercase font-arboria-bolder font33px">
            <span class="text-highlight">EARN</span><span class="text-dark-gray"> PASSIVE</span> REWARDS</h1>
          <h1 class="lefttext m-0 p-0 text-uppercase font-arboria-bolder font33px">OWNING AN ORACLE</h1>
        </div>
        <div class="w-100 pt-2">
          <p class="font-arboria-book font16px text-black">Owning a Wagerr Oracle is like “Being the House” or owning a
            sportsbook. The Wagerr network distributes a portion of all winning bets to the Oracles. While bettors place
            money on uncertain events, bookkeepers bet on a sure thing: fees. Steady fees provide reliable income. The
            more betting action there is, the larger the Oracle rewards. Be the house!</p></div>
      </div>
      <div class="w-100">
        <img src="assets/images/baskeballphonered.svg" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<section class="about-panel-5 bg-dark-triangle">
  <div class="container">
    <div class="d-flex flex-column pt-5">
      <div class="w-100 pt-5"><h1 class="text-center lineheight1 m-0 p-0 text-uppercase font-arboria-bold font48px">
        WAGERR SOLVES</h1></div>
      <div class="w-100"><h1 class="text-center lineheight1 m-0 p-0 text-uppercase font-arboria-bold font48px"><span
        class="text-highlight">SPORTSBETTING</span>'<span class="text-highlight">S </span> <span class="font-bolder">BIGGEST</span>
      </h1></div>
      <div class="w-100"><h1 class="text-center lineheight1 m-0 p-0 text-uppercase font-arboria-bold font48px">
        ISSUES</h1></div>
    </div>
  </div>
</section>
<section class="about-panel-6">
  <div class="container">
    <div class="d-flex flex-column  pl-3 p-sm-0 pr-3">
      <div class="d-sm-flex flex-sm-row d-flex flex-column">
        <div class="w-25 text-right pr-4"><img src="assets/images/securityred-01.svg" class="img-fluid img100"></div>
        <div class="w-100">
          <div class="w-100 font-arboria-bold font24px title">Transparency with Security</div>
          <div class="w-100"><p class="font-arboria-book font16px pt-2">Blockchain technology keeps Wagerr secure and
            transparent. Each bet is verified with cryptographic security and each transaction is recorded on the public
            ledger.</p></div>
        </div>
      </div>
      <div class="d-sm-flex flex-sm-row d-flex flex-column pt-2">
        <div class="w-25 text-right pr-4"><img src="assets/images/feesredlarger.svg" class="img-fluid img100"></div>
        <div class="w-100">
          <div class="w-100 font-arboria-bold font24px title">Winners Win More</div>
          <div class="w-100"><p class="font-arboria-book font16px pt-2">The lowest juice in the industry. When you win
            on Wagerr, you win more.</p></div>
        </div>
      </div>
      <div class="d-sm-flex flex-sm-row d-flex flex-column pt-2">
        <div class="w-25 text-right pr-4"><img src="assets/images/targetred-01.svg" class="img-fluid img100"></div>
        <div class="w-100">
          <div class="w-100 font-arboria-bold font24px title">Unlimited Liquidity & Payout Guarantee</div>
          <div class="w-100"><p class="font-arboria-book font16px pt-2">Wagerr will never revoke your bet or limit your
            bet size. Every payout is guaranteed. Just try finding a commercial sportsbook that can deliver this degree
            of certainty. Bet on the blockchain for absolute peace of mind.</p>
          </div>
        </div>
      </div>
      <div class="d-sm-flex flex-sm-row d-flex flex-column pt-2">
        <div class="w-25 text-right pr-4"><img src="assets/images/fingerprintred.svg" class="img-fluid img100"></div>
        <div class="w-100">
          <div class="w-100 font-arboria-bold font24px title">User Controlled Privacy</div>
          <div class="w-100"><p class="font-arboria-book font16px pt-2">Wagerr offers a platform for everyone. Start
            betting instantly at wagerr.com, the online sportsbook. Bet anywhere with Wagerr mobile apps. For more
            privacy and total control of your coins, download Wagerr’s blockchain betting app.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about-panel-7 bg-dark-strip-triangle2 ">
  <div class="container p-sm-5 pt-5">
    <div class="d-flex flex-column d-sm-flex flex-sm-row align-items-center mb-sm-5 pt-5 p-sm-5">
      <div
        class="mt-4 mt-md-0 mb-3 mb-lg-0 mx-auto w-100 d-flex justify-content-center value-coupling-video-container">
        <iframe width="479" height="280"
                src="https://player.vimeo.com/video/213006892?color=d40000&amp;title=0&amp;byline=0&amp;portrait=0"
                frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
      </div>
      <div class="w-100 mx-auto pl-sm-5 pr-sm-5">
        <h3 class="font-arboria-bold font40px mb-4">Smart Economics</h3>
        <p class="font-arboria-book font16px">Nearly half of all fees are systematically destroyed. Burning fees
          diminishes the coin supply. The logic is straightforward supply and demand: Given steady demand, free markets
          tend to respond to a dwindling supply with rising asset prices.</p>
      </div>
    </div>
  </div>
</section>
<section class="about-panel-8">
  <div class="container">
    <div class="d-flex flex-column d-sm-flex flex-sm-row pt-5">
      <div class="w-100 pt-sm-5 pl-sm-3"><img src="assets/images/oracleisometric-01.svg" class="img-fluid"></div>
      <div class="w-100 pt-5">
        <div class="w-100">
          <h1 class="lefttext lineheight1 m-0 p-0 text-uppercase font-arboria-bold font-bolder font33px"><span
            class="text-highlight"> VALUE</span> protection</h1>
          <h1 class="lefttext lineheight1 m-0 p-0 text-uppercase font-arboria-bold font-bolder font33px">
            mechanisims</h1>
        </div>
        <div class="w-100 pt-2 pt-sm-5 pr-1">
          <p class="font-arboria-book font16px">WGR cryptocurrency is designed with a deflationary mechanism that helps
            the coin retain value under
            various conditions. During periods of mass adoption, increasing demand would coincide with decreasing
            supply, creating significant market pressure. As the price increases, per-bet volume is expected to level
            out, and the rate of deflation should level out, too.</p>
          <p class="font-arboria-book font16px"> On the other hand, when WGR’s market price drops,
            the per-bet volume is expected to rise. As net betting volume increases, the burn rate accelerates,
            increasing the velocity of deflation. In this case, the deflationary mechanism tends to return the WGR
            price to equilibrium over time.</p>
          <p class="font-arboria-book font16px"> While WGR’s price is expected to fluctuate, the network’s monetary
            policy
            reinforces the cryptocurrency’s price stability.</p>
        </div>
      </div>
    </div>
  </div>
</section>
