.teamView {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.teamlogo {
  width: 260px !important;
  background-color: #000000;
}

.teamlogoMobile {
  width: 160px !important;
  background-color: #000000;
}

.teamnames {
  font-size: 24px;
  background-color: #1b1b1b;
}

.teamnamesMobile {
  font-size: 14px !important;
}

.time {
  font-size: 11px !important;
}

.chartSize {
  height: 200px
}
