.border-right {
  border-color: #4d4d4d !important;
  background-color: #3B3B3B;
}
.borderLeftRound {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.borderRightRound {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
