<div class="row pb-5 mb-3 pb-sm-0 mb-sm-0 h-sm-100 mr-0">
  <div id="bets" class="col-9 pt-2 d-md-block d-lg-block pr-0"
       [ngClass]="mobileNavIsActive('sportsbook', 'active', 'd-none')">
    <div class="card bets">
      <div class="card-body p-0 position-relative">
        <div class="overlay position-absolute"></div>
        <div class="d-flex flex-row">
          <div class="w-100 font-arboria-bold text-uppercase pl-3 py-1">sportsbook</div>
          <div class="w-100 text-right py-1">
            <input type="text" class="widthSize300px searchInput" placeholder="Search for Team or Event" [(ngModel)]="searchText" (keyup)="searchIt(searchText)"><i class="far fa-search px-1"></i>
          </div>
        </div>
        <app-sbbetdisplay [sport]="sport" [search]="searchBox"></app-sbbetdisplay>
      </div>
    </div>
  </div>
  <aside class="col-sm-3 order-0 order-sm-1 px-sm-2 d-md-block d-lg-block">
    <app-sbbalance *ngIf="isLoggedIn() && whatOS() === 'desktop'"></app-sbbalance>
    <div class="d-md-block d-lg-block" [ngClass]="mobileNavIsActive('betslip', 'active', 'd-none')">
      <app-sbbetslip></app-sbbetslip>
    </div>
    <div class="d-md-block d-lg-block" [ngClass]="mobileNavIsActive('chat', 'active', 'd-none')">
      <!--        <app-sbchat></app-sbchat>-->
      <app-sbbetabook></app-sbbetabook>
    </div>
  </aside>
</div>
