
<div class="modal-header text-center flex-row ">
  <div class="w-100 text-center">
    <h5 class="modal-title text-uppercase font-weight-black font-arboria-bold" id="buyModalLabel">Buy
      Wager<span class="text-highlight">r</span></h5>
  </div>
  <div class="w-auto">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
  </div>
</div>
<div class="modal-body">
  <div class="d-flex flex-row">
    <div class="w-50"></div>
    <div class="w-100">
      <div class="d-flex flex-column justify-content-center align-content-center pt-3">
        <div class="d-flex w-100 Buy-Modal-Title  justify-content-center align-content-center">Buy with Crypto</div>
        <div class="d-flex w-100 justify-content-center align-content-center pt-3 pb-3">
          <img class="img-fluid" src="/assets/images/coinpack.svg">
        </div>
        <div class="d-flex w-100 justify-content-center align-content-center pb-4">
          <a href="https://app.instaswap.io/?&giveCoin=BTC&getCoin=WGR&giveValue=50" target="_blank"
             class="btn w-75 font-arboria-bold Buy-Modal-Btn">BUY NOW</a>
        </div>
      </div>
    </div>
    <div class="w-50"></div>
    <div class="w-100  d-none">
      <div class="d-flex flex-column justify-content-center align-content-center pt-3">
        <div class="d-flex w-100 Buy-Modal-Title justify-content-center align-content-center">Buy with Credit/Debit
        </div>
        <div class="d-flex w-100 justify-content-center align-content-center pt-3 pb-3">
          <img class="img-fluid" src="/assets/images/ccard3.svg">
        </div>
        <div class="d-flex w-100 justify-content-center align-content-center pb-4">
          <a href="https://app.instaswap.io/?&giveCoin=USD&getCoin=WGR&giveValue=50" target="_blank"
             class="btn w-75 font-arboria-bold Buy-Modal-Btn">BUY NOW</a>
        </div>
      </div>
    </div>
    <div class="w-100">
      <div class="d-flex flex-column justify-content-center align-content-center pt-3">
        <div class="d-flex w-100 Buy-Modal-Title justify-content-center align-content-center">Buy with Wire</div>
        <div class="d-flex w-100 justify-content-center align-content-center pt-3 pb-3">
          <img class="img-fluid" src="/assets/images/fiatpack2.svg">

        </div>
        <div class="d-flex w-100 justify-content-center align-content-center  pb-4">
          <a href="https://app.instaswap.io/?&giveCoin=USD&getCoin=WGR&giveValue=50" target="_blank"
             class="btn w-75 font-arboria-bold Buy-Modal-Btn">BUY NOW</a>
        </div>
      </div>
    </div>
    <div class="w-50"></div>
  </div>
</div>
<div class="modal-header text-center border-top border-dark">
  <h5 class="mt-3 mb-2 modal-title text-uppercase font-arboria-bold font-weight-black" id="buyModalLabelc">
    Exchanges</h5>
</div>
<div class="modal-body">
  <div class="row justify-content-center">
    <div class="col-4 col-md-3  justify-content-center align-content-center">
      <a href="https://crex24.com/exchange/WGR-BTC" target="_blank">
        <img class="img-fluid exchange-img pt-2" src="/assets/images/crexlogo.png" alt="">
      </a>
    </div>
    <div class="col-4 col-md-3  justify-content-center align-content-center">
      <a href="https://www.coinsuper.com/trade?symbol=WGR%2FBTC" target="_blank">
        <img class="img-fluid exchange-img" src="/assets/images/coinsuper-logo.png" alt="">
      </a>
    </div>
    <div class="col-4 col-md-3 justify-content-center align-content-center">
      <a href="https://ionomy.com/en/markets/btc-wgr" target="_blank">
        <img class="img-fluid exchange-img pt-2" src="/assets/images/ionomylogoblack.svg" alt="">
      </a>
    </div>
    <div class="col-4 col-md-3 justify-content-center align-content-center">
      <a href="https://instaswap.io/" target="_blank">
        <img class="img-fluid exchange-img pt-2" src="/assets/images/instaswaplogo.png" alt="">
      </a>
    </div>
          <div class="col-4 col-md-3 justify-content-center align-content-center">
            <a href="https://exchange.beaxy.com/?pair=WGRBTC" target="_blank">
              <img class="img-fluid exchange-img pt-4" src="/assets/images/beaxy.png" alt="">
            </a>
          </div>
    <div class="col-4 col-md-3 justify-content-center align-content-center">
      <a href="https://chainex.io/" target="_blank">
        <img class="img-fluid exchange-img pt-4" src="/assets/images/chainex.png" alt="">
      </a>
    </div>
  </div>
</div>
<div class="modal-header text-center border-top border-dark">
  <h5 class="mt-3 mb-2 modal-title text-uppercase font-arboria-bold font-weight-black" id="buyModalLabeld">SWAP</h5>
</div>
<div class="modal-body d-flex flex-column">
  <div class="w-100 text-center"><img src="/assets/images/wgrswap.svg" class="img-fluid swapImg"></div>
  <div class="w-100 text-center py-3">
    <a href="https://swap.wagerr.com" target="_blank" class="btn btnSize w-75 font-arboria-bold Buy-Modal-Btn">SWAP NOW</a>
  </div>
</div>
