
<div class="modal-header text-center flex-row ">
  <div class="w-100 text-center">
    <!--    <h5 class="modal-title text-uppercase font-weight-black font-arboria-bold" id="buyModalLabel">Buy-->
    <!--      Wager<span class="text-highlight">r</span></h5>-->
    <h5 class="mb-2 modal-title text-uppercase font-arboria-bold font-weight-black" id="buyModalLabelc">
      Exchanges</h5>
  </div>
  <div class="w-auto">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
  </div>
</div>
<div class="modal-body">
  <div class="row justify-content-center">
    <div class="col-12 font-arboria-light font20px text-center mb-4 mt-2">
      Decentralized Exchanges
    </div>
    <div class="col-4 justify-content-center align-content-center">
      <a href="https://app.uniswap.org/#/swap?theme=dark&outputCurrency=0xC237868a9c5729bdF3173dDDacaa336a0a5BB6e0" target="_blank">
        <img class="img-fluid exchange-img pt-2" src="/assets/images/uniswap.png" alt="">
      </a>
    </div>
    <div class="col-1 justify-content-center align-content-center">
      <a href="https://exchange.pancakeswap.finance/#/swap?outputCurrency=0xdbf8265b1d5244a13424f13977723acf5395eab2" target="_blank">
        <img class="img-fluid exchange-img pt-2" src="/assets/images/pancakeswap.png" alt="">
      </a>
    </div>
    <div class="col-4 justify-content-center align-content-center">
      <a href="https://app.apeswap.finance/swap?inputCurrency=ETH&outputCurrency=0xdBf8265B1d5244A13424f13977723AcF5395eAB2" target="_blank">
        <img class="img-fluid exchange-img pt-2" src="/assets/images/apeswap.svg" alt="">
      </a>
    </div>
    <div class="col-12 font-arboria-light font20px text-center mb-4 mt-5">
      Centralized Exchanges
    <div class="col-4 justify-content-center align-content-center">
      <a href="https://ionomy.com/en/markets/btc-wgr" target="_blank">
        <img class="img-fluid exchange-img pt-2" src="/assets/images/ionomylogoblack.svg" alt="">
      </a>
    </div>
  </div>
</div>
<div class="modal-header text-center border-top border-dark mt-3">
  <h5 class="mt-3 mb-2 modal-title text-uppercase font-arboria-bold font-weight-black" id="buyModalLabeld">ETH & BSC SWAP</h5>
</div>
<div class="modal-body d-flex flex-column">
  <div class="w-100 text-center"><img src="/assets/images/wgrswap.svg" class="img-fluid swapImg"></div>
  <div class="w-100 text-center py-3">
    <a href="https://swap.wagerr.com" target="_blank" class="btn btnSize w-75 font-arboria-bold Buy-Modal-Btn">SWAP NOW</a>
  </div>
</div>

