
<div id="chain-games" class="card chain-games-wrapper mt-2 d-none d-sm-block">
  <div class="card-body d-flex justify-content-between p-2 px-3">
    <span class="font-weight-bold text-uppercase">chain games</span>
    <span class="winner-payout-wrapper font-roboto-condensed text-right">
                                    <span class="winner-payout font-weight-light">winner payout</span>
                                    <span class="ml-1 text-nowrap">150,000 <span class="text-highlight font-weight-bold">WGR</span></span>
                                </span>
  </div>
</div>
