<section class="about-panel-1">
  <div class="container">
    <div class="d-sm-flex flex-sm-row d-flex flex-column">
      <div class="w-100 text-center">
        <h1 class="m-0 p-0 text-uppercase font-arboria-book font48px"><img src="/assets/images/marchmadness1.svg"
                                                                           class="mmlogo"></h1>
        <h1 class="m-0 p-0 text-uppercase font-arboria-bolder font48px">
          <span class="text-highlight">WAGERR</span> PICK'EM</h1>
        <h5 class="text-uppercase font-arboria-book font16px pt-3"><span
          class="text-highlight">Wagerr Exclusive!!!</span> ALL Brackets will be encoded on-chain</h5>
      </div>
    </div>
  </div>
  <div class="bottomsvg">
    <img src="assets/images/bottomaboutjag-01.svg" class="img-fluid">
  </div>
</section>
<ng-container *ngIf="getBracketCount() > 0">
  <app-mmdashboard></app-mmdashboard>
</ng-container>
<ng-container *ngIf="!isLoggedIn() || getBracketCount() === 0">
  <app-mmsplash></app-mmsplash>
</ng-container>
