<div class="d-flex flex-row font-weight-light py-0 text-center border-top">
  <div class="border-right w-100 font-roboto-condensed font-weight-bold font13px p-1 usePointer bghover  blcorner">OVER - <span
    class="text-highlight">{{updateTrueOdds(odds.totalsOver / 10000)  | number: '1.2-2'}}</span></div>
  <div
    class="border-right w-100 font-roboto-condensed font-weight-bold font13px p-1 text-gray bghover ">{{(odds.totalsPoints / 10)  | number: '1.2-2'}}</div>
  <div class="w-100 font-roboto-condensed font-weight-bold font13px p-1 usePointer bghover brcorner">UNDER - <span
    class="text-highlight">{{updateTrueOdds(odds.totalsUnder / 10000)  | number: '1.2-2'}}</span></div>
</div>
